

<!-- sidenavBar -->
<app-toolbar></app-toolbar>
<div class="bodyWrapper">

<div class="sidebar">
  <ul>
    <li (mousedown)="changeText($event,'settings')" [ngClass]="{active : selectedNav ==='settings'}">
      <mat-icon>
        <span class="material-symbols-outlined">
          settings
        </span>
      </mat-icon>
      <span>Symbols</span>
    
    
    </li>
    
    <li (mousedown)="changeText($event,'ports')" [ngClass]="{active : selectedNav ==='ports'}">
      <mat-icon class="commit">
        <span class="material-symbols-outlined">
          commit
        </span>
      </mat-icon>
      <span>Ports</span>
    </li>
    <li (mousedown)="changeText($event,'fpt')" [ngClass]="{active : selectedNav ==='fpt'}">
      <mat-icon>
        <span class="material-symbols-outlined">
          lightbulb
        </span>
      </mat-icon>
      <span>FPT</span>
    </li>
     
    <li (mousedown)="changeText($event,'layers')" [ngClass]="{active : selectedNav ==='layers'}">
      <mat-icon>  
        <span class="material-symbols-outlined">
          layers
        </span>
      </mat-icon>
      <span>Layers</span>
    </li>
   
  </ul>
</div>

<div class="flex-fill">
<div *ngIf="selectedNav ==='layers'" class="bg-box-hidden" (mouseover)="retainDiv()" >

  <div class="labelWrappper">
    <h2>Layers</h2>
    <hr />
    <div class="layerWrapper">
    <!-- <ng-scrollbar class="virtual-scroll" [autoHeightDisabled]="false" visibility="hover" appearance="compact"> -->

      <div *ngFor="let element of elements" class="elementWrapper" [ngClass]="{active : selectedLayer && element.id === selectedLayer.id}" (mousedown)="selectLayer($event, element.id)">
        <div class="elementLeft">{{element.elementName}} </div>
        <div class="elementRight">
          <span class="iconRow">
            <mat-icon>
              <span class="material-symbols-sharp">lock</span>
            </mat-icon>
            <mat-icon>
              <span class="material-symbols-outlined">lightbulb</span>
            </mat-icon>
          </span>
          
          <span class="{{element.colorName}}" [(colorPicker)]=element.colorCode [style.background]=element.colorCode></span>
          
      </div>
      </div>

    <!-- </ng-scrollbar> -->
    </div>
  </div>


  <!-- <div *ngIf="value" class="bg-box-hidden" (mouseover)="retainDiv()" > -->
    <div class="addWrapper">

      <div >
        <div>
          <a href="#" (mousedown)="addNewLayer($event)">+ New Layer</a>
        </div>
        <!-- <h4>{{currentItem.name}}</h4> -->
        <!-- <input [value]="currentItem.name" (input)="currentItem.name=getValue($event)"> -->
      </div>

      <div>
        <a href="#" (mousedown)="deleteLayer($event)"><span style="color: red !important"> X </span>Delete Layer </a>
        <!-- <app-layer-item (deleteRequest)="deleteItem($event)" [item]="currentItem"></app-layer-item> -->
      </div>



    </div>
    <div *ngIf="selectedLayer !== undefined" class="layerProperties">
    <div>
      <h2>Layer properties</h2>
      <hr />
    </div>
    <div>
      <div>
        <mat-label>Name</mat-label>
        <mat-form-field appearance="fill">
          <input matInput type="text" [value]="selectedLayer.elementName" (keyup)="selectName($event)">
        </mat-form-field>
      
       
      </div>
      <div>
      <mat-label>Linetype</mat-label>
      
      <mat-form-field appearance="fill">
        
        <mat-select [(value)]="selectedLayer.lineType"  class="selectValue" >
          <mat-option [value]="option.value" *ngFor="let option of ltype">{{ option.viewValue }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>

      <mat-label>Lineweight</mat-label>
      <mat-form-field appearance="fill">
        
        <mat-select [(value)]="selectedLayer.lineWeight">
          <mat-option [value]="option.value" *ngFor="let option of lweight">{{ option.viewValue }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    </div>
  </div>
<!-- </div> -->

</div>
<div *ngIf="selectedNav ==='settings'" class="bg-box-hidden" (mouseover)="retainDiv()">
  <div>Settings</div>
</div>
<div *ngIf="selectedNav ==='ports'" class="bg-box-hidden" (mouseover)="retainDiv()">
  <div>Ports</div>
</div>
<div *ngIf="selectedNav ==='fpt'" class="bg-box-hidden" (mouseover)="retainDiv()">
  <div>FPT</div>
</div>
<div class="rightBody">
dasf
</div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

