

<!-- sidenavBar -->
<app-toolbar></app-toolbar>
<div class="bodyWrapper">

<div class="sidebar">
  <ul>
    <li><mat-icon><span class="material-symbols-outlined">
      settings
      </span></mat-icon></li>
    <li>Symbols</li>
    <li><mat-icon><span class="material-symbols-outlined">
      settings
      </span></mat-icon>Ports</li>
    <li><mat-icon><span class="material-symbols-outlined">
      lightbulb
      </span>
      </mat-icon></li>
      <li>FPT</li>
    <li (mousedown)="changeText()"><mat-icon> layers</mat-icon></li>
    <li (mousedown)="changeText()">Layers</li>
  </ul>
</div>

<div class="flex-fill">
<div *ngIf="value" class="bg-box-hidden" (mouseover)="retainDiv()" >

  <div class="labelWrappper">
    <h2>Layers</h2>
    <hr />
    <div>
    <ng-scrollbar class="virtual-scroll " visibility="hover" appearance="compact">

      <div *ngFor="let element of elements" class="elementWrapper">
        <div>{{element.elementName}} </div>
        <div>
          <mat-icon>
            <span class="material-symbols-sharp">lock</span>
            <span class="material-symbols-outlined">lightbulb</span>
          </mat-icon>
        </div>
        <div class="{{element.colorName}}" [(colorPicker)]=element.colorCode [style.background]=element.colorCode></div>
      </div>

    </ng-scrollbar>
    </div>
  </div>


  <div *ngIf="value" class="bg-box-hidden" (mouseover)="retainDiv()" >
    <div class="addWrapper">

      <div >
        <div>+ New Layer</div>
        <h4>{{currentItem.name}}</h4>
        <input [value]="currentItem.name" (input)="currentItem.name=getValue($event)">
      </div>

      <div>X Delete Layer
        <app-layer-item (deleteRequest)="deleteItem($event)" [item]="currentItem"></app-layer-item>
      </div>



    </div>
    <div ><h2>Layer properties</h2>
      <hr />
    </div>
    <div>
      <h4>Layertype</h4>
      <mat-form-field appearance="fill">
        <mat-label>Layertype</mat-label>
        <mat-select [(value)]="selectedType">
          <!-- <mat-option></mat-option> -->
          <mat-option [value]="option.value" *ngFor="let option of ltype">{{ option.viewValue }}</mat-option>
        </mat-select>
      </mat-form-field>


      <h4>Layerweight</h4>
      <mat-form-field appearance="fill">
        <mat-label>Layerweight</mat-label>
        <mat-select [(value)]="selectedWeight">
          <!-- <mat-option></mat-option> -->
          <mat-option [value]="option.value" *ngFor="let option of lweight">{{ option.viewValue }}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>

</div>

</div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

