




  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 18px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  /* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v138/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(27,31,35,.35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }

  .bodyWrapper{
    display:flex;
    background-color: #1A222A;
  }


  .sidebar {
    width:80px;
    height:calc(100vh - 60px);
    background-color:#313741;
   

}
.sidebar ul li.active {
  background-color: #3B4453;
  border-left: 0;
}
.sidebar ul li.active:hover{
  border: 0 !important;
}
.sidebar ul li:hover {
  background-color: #3A5E75;
  border-left: 2px solid transparent;
}
.sidebar ul {
    list-style-type:none;
    color:#EAF2FF;
    float:left;
    width: 100%;
    padding: 0;
}
.rightBody {
  height: calc(100vh - 60px);
    color: white;
    /* margin-left: calc(100vh - 60px - 25vw); */
    /* width: 75vw; */
    
   vertical-align: top;
    display: inline-flex;
    padding: 30px;
  
}
.drawArea {
  width: 100%;
  height: 100%;
  display: block;
  border: 1px solid white;
  padding: 10px;
}
.drawAreaInner {
  width: 100%;
  height: 100%;
  display: block;
  border: 1px solid white;
  
}
.sidebar ul li {
  padding: 20px 10px;
  width: 100%;
  cursor: pointer;
}
.sidebar ul li mat-icon {
  width: 100%;
  text-align: center;
  transform: scale(1.4);
}
.sidebar mat-icon.commit {
  transform: scale(2) !important;
}
.sidebar ul li > span {
  display: block;
  text-align: center;
  width: 100%;
}
.bg-box-hidden {
    width:300px;
    min-width: 250px;
    height: calc(100vh - 60px);
    background-color:#3B4453;
    overflow: auto;
  color: white;
  display: inline-flex;
  border-right: solid 1px #6C7279;
  position: relative;
  margin: auto;
}
.bg-box-hidden * {
  color: white !important;
}


.bg-box-hidden mat-label {
  width: 40%;
  display: inline-block;
  padding-top: 10px;
}
.bg-box-hidden .layerFormWrapper {
  position: relative;
}
.bg-box-hidden .formField {
  position: absolute;
  right: 0;
  width: 60%;
  max-width: 150px;
  display: inline-block;
  align-items: flex-end;
  text-align: right;
  display: inline-block;
  top:0;
}
.bg-box-hidden .mat-form-field {
  width: 100%;
  
  
}
::ng-deep   .mat-form-field-wrapper .mat-form-field-flex{
  padding: 0 !important;
}


::ng-deep .mat-form-field-wrapper {
 background-color: #3B4453 ;
 padding-bottom: 4px;
 
}
::ng-deep .mat-select-arrow{
  color: white !important
}
::ng-deep .mat-option:hover{
  background-color: #394151 !important
}

::ng-deep .mat-option.mat-active:hover{
  background-color: #394151 !important
}

::ng-deep .mat-option.mat-active{
  background-color: transparent !important
}

::ng-deep  .mat-select-panel{
  background-color: #4D576C !important;
  box-shadow: none !important; 
}
::ng-deep  .mat-select-panel-wrap .mat-option-text{
  color: white !important
}
::ng-deep  .mat-select-value-text {
  color: white !important;
}
::ng-deep .mat-form-field-underline {
  bottom: 0;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0;
}
::ng-deep .layerProperties .mat-form-field-appearance-fill .mat-form-field-underline::before
{
 background-color: #8D9195 !important;
}
::ng-deep .layerProperties .mat-form-field-appearance-fill .mat-form-field-underline .mat-form-field-ripple
{
 background-color: transparent !important;
 
}
.labelWrappper{
    padding:1rem;
    color:#EAF2FF;
    font-size:12px;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    
    

}
.layerWrapper {
  max-height: 35vh;
  overflow-y: auto;
  border-top: 1px solid #485462;
  padding: 2px 0;
  border-bottom: 1px solid #485462;

}
.layerProperties {
  padding: 1rem;
  font-size: 12px !important;
}
::ng-deep color-picker open {
    left:0px;
    width: 250px;
    z-index: 1000;
    
  }
  ::ng-deep color-picker{
    z-index: 1000;
    position: fixed;
    left: 250px;
  }
.elementWrapper{
    display:flex;
    justify-content: space-between;
    margin-top:0px;
    position: relative;
    padding: 0;
}
.elementWrapper:hover,.elementWrapper.active {
  background-color: #333A48 !important;
}
.elementWrapper.active {
  background-color: #3A5E75 !important;
}
.elementLeft {
  padding: 3px 0 0 5px;
}
.elementLeft,  .elementRight {
  display: inline-block;
  width: 50%;
  
  cursor: pointer;
}
.elementRight > span:nth-child(2){
    display: inline-block;
    cursor: pointer;
    margin-right: 5px;
    border: 1px solid #65707a;
    height: 13px;
    width: 13px;
    
    
}
.elementRight > span:nth-child(2) >span{
display: block;
width: 100%;
height: 100%;
}
.elementRight > span:nth-child(2):hover{
  box-shadow: 0px 0px 0px 1.5px #65707a !important;
}
.elementRight > span:nth-child(2):hover > span{
  
  box-shadow: inset 0px 0px 0px .5px #65707a !important;
  
}
.elementRight {
  text-align: right;
  position: relative;
}
.elementRight .iconRow {
  margin-right: 5px;
  display: inline-block;
}
.elementRight .iconRow mat-icon > span{
  
  transition: all ease-in-out;
  cursor: pointer;
  margin-top: 2px;
  display: block;
  text-align: center;
  color: #9E9D9D !important;
}
.elementWrapper:hover 
.elementRight .iconRow mat-icon{
  border: 1px solid transparent ;
  height: 22px;
  width: 22px;
  margin: 2px 5px 2px 0;
}
.elementWrapper:hover 
.elementRight .iconRow mat-icon > span {
  display: block;
  margin-top: 2px;
  cursor: pointer;
  transition: all 1s;
  text-align: center;
  
}
::ng-deep mat-select .mat-select-min-line {
  padding-left: 45% !important;
}
::ng-deep  .mat-option.byLayer,
::ng-deep  .mat-option.continuous,
::ng-deep  .mat-option.dashed,
::ng-deep .mat-option.byLayerWeight,
::ng-deep .mat-option.zeroWeight,
::ng-deep .mat-option.twoWeight,
::ng-deep .mat-option.oneFiveWeight
 {
  padding-left: 55% !important;
  
}

/* ::ng-deep .mat-option:hover::before{

} */
::ng-deep .mat-option.mat-focus-indicator:hover::before,
::ng-deep .mat-option.byLayer::before,
::ng-deep .mat-option.continuous::before,
::ng-deep .mat-option.dashed::before
{
  display: block;
  transform: rotate(45deg);
  height: 12px;
  width: 7px;
  border: none;
  border-bottom: 2px solid #6DD2FF;
  border-radius: 0;
  border-right: 2px solid #6DD2FF;
  top: 30%;
  left: 5%;
  position: absolute;
}

::ng-deep .mat-option.byLayerWeight::before,
::ng-deep .mat-option.zeroWeight::before,
::ng-deep .mat-option.twoWeight::before,
::ng-deep .mat-option.oneFiveWeight::before
{
  display: block;
  transform: rotate(45deg);
  height: 12px;
  width: 7px;
  border: none;
  border-bottom: 2px solid #6DD2FF;
  border-radius: 0;
  border-right: 2px solid #6DD2FF;
  top: 30%;
  left: 5%;
  position: absolute;
}
::ng-deep .mat-option.byLayerWeight::after,
::ng-deep .mat-option.zeroWeight::after,
::ng-deep .mat-option.twoWeight::after,
::ng-deep .mat-option.oneFiveWeight::after{
  content: "";
  border-top: 1px solid white;
  left: 15%;
  top: 50%;
  width: 30%;
  position: absolute;
}
::ng-deep .mat-option.twoWeight::after {
  top: 45% !important;
  border-top: 2px solid white !important;
}
::ng-deep .mat-option.oneFiveWeight::after {
  top: 40% !important;
  border-top: 4px solid white !important;
}
::ng-deep .byLayerValue .mat-select-min-line{
  display: inline-block;
}
::ng-deep .byLayerValue .mat-select-min-line::after,
::ng-deep .continuousValue .mat-select-min-line::after,
::ng-deep .dashedValue .mat-select-min-line::after
 {
   
  content: "";
  border-top: 1px solid white;
  left: 1%;
  top: 50%;
  width: 30%;
  position: absolute;
}
::ng-deep .dashedValue .mat-select-min-line:after{
  border-top: 1px dashed white !important;
}
::ng-deep .mat-option.byLayer::after , 
::ng-deep .mat-option.continuous::after,
::ng-deep .mat-option.dashed::after {
  
  content: "";
  border-top: 1px solid white;
  left: 15%;
  top: 50%;
  width: 30%;
  position: absolute;
}

::ng-deep .byLayerWeightValue .mat-select-min-line::after,
::ng-deep .zeroMmWeightValue .mat-select-min-line::after,
::ng-deep .twoMmWeightValue .mat-select-min-line::after,
::ng-deep .oneFiveMmWeightValue .mat-select-min-line::after
 {
   
  content: "";
  border-top: 1px solid white;
  left: 1%;
  top: 45%;
  width: 30%;
  position: absolute;
}
::ng-deep .twoMmWeightValue .mat-select-min-line::after{
  border-top: 2px solid white !important;
  top: 40% !important;
}
::ng-deep .oneFiveMmWeightValue .mat-select-min-line::after{
  border-top: 4px solid white !important;
  top: 35% !important;
}
::ng-deep .mat-option.dashed::after {
  border-top: 1px dashed white;
}
.elementRight .iconRow mat-icon {
  height: 22px;
  width: 22px;
  vertical-align: bottom;
  border: 1px solid transparent ;
  transition: all 1s;
  margin: 2px 5px 2px 0;
  padding: 2px;
  
}
.elementWrapper:hover .elementRight .iconRow mat-icon:hover {
  border: 1px solid #356D8C ;
  transition: all .5s;
  background-color: #313640;
  margin: 2px 5px 2px 0;
  padding: 2px;
}
.whitecolor{
    width:15px;
    height:15px;
    background-color:#EAF2FF;
    
}
.purplecolor{
    width:15px;
    height:15px;
    background-color:#8241e9;
    
}
.orangecolor{
    width:15px;
    height:15px;
    background-color:#e7781d;
 
}
.bluecolor{
    width:15px;
    height:15px;
    background-color:#206ce7;
    
}
.greencolor{
    width:15px;
    height:15px;
    background-color:#5eed2a;
    
}
.addWrapper{
    display:flex;
    justify-content: space-between;
    margin:15px;
    color:#206ce7;
}
.addWrapper a {
  color: #66C1EA !important;
}
.whitecolor1{
    width:15px;
    height:15px;
    background-color:#EAF2FF;
    
}
.virtual-scroll {
      --scrollbar-size: 6px;
      --scrollbar-thumb-color: rgb(72, 224, 52);
      --scrollbar-hover-size: 6px;
      --scrollbar-track-color: rgba(0, 0, 0, 0.05);
      --scrollbar-border-radius: 10px;

      margin: 0rem;
      /* height: 50vh; */
      max-height: 35vh;

      overflow: hidden;


}

/* *::-webkit-scrollbar {
  width: 0px !important;
  background-color: white !important;
} */


.mwlResizable {
  box-sizing: border-box; 
}

.resize-handle-top,
.resize-handle-bottom {
  position: absolute;
  height: 5px;
  cursor: row-resize;
  width: 100%;
}

.resize-handle-top {
  top: 0;
}

.resize-handle-bottom {
  bottom: 0;
}

.resize-handle-left,
.resize-handle-right {
  position: absolute;
  height: 100%;
  cursor: col-resize;
  width: 5px;
}

.resize-handle-left {
  left: 0;
}

.resize-handle-right {
  right: 0;
}

.hide {
  display: none;
}

::ng-deep .typeSelect {
  
  margin-top: 17px !important;
    min-width: 100% !important;
    left: 0 !important;
    border-radius: 0 !important;
    margin-left: 16px !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent !important;
}
::ng-deep .layerProperties .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
  transform: translateY(-27%) !important;
}
::ng-deep .mat-select-arrow{
width: 5px !important;
height: 5px !important;
border: none !important;
border-left: 1px solid white !important;
border-bottom: 1px solid white !important;
/* border-top: 5px solid; */
margin: 0 4px;
transform: rotate(-45deg);
}
::ng-deep .layerProperties .mat-form-field.mat-focused .mat-select-arrow{
  transform: rotate(135deg) !important;
}

::ng-deep .layerProperties .mat-form-field.mat-focused .mat-select-arrow-wrapper {
  transform: translateY(-5%) !important;
}